# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://cqtwzduoiylrpysekrun.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_lvH787G1B2HwPnOsGqkO4A_CsmIHKWL

# Geoapify
# Browser-visible map key.
# Restrict this key to your production origin in Geoapify.
NEXT_PUBLIC_GEOAPIFY_MAP_KEY=227078fbd48b47d4a96399e516f0153c